/* Simple reset courtesy of Josh Comeau - https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* This is the Style Rule I will be describing. */
/* ↓ .wrapper is the selector */
.wrapper {
    /* ↓ display: is the property */
    display: grid; /* <- this row is the declaration */
            /* ↑ grid; is the value */
    position: relative;
    width: 60%;
    align-items: center;
    text-align: center;
}

header nav {
    position: relative;
    top: 0;
    width: 100%;
    background-color: #888888;
    display: flex;
}

header h1 {
    position: fixed;
    top: 20px;
    width: 60%;
    display: flex;
}

.intro {
   position: relative;
    top: 50px;
    width: 60%;
    background-color: #7cfc00;
}



/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}